%footer
  %p
    &copy; 2015 Code for Chiba

  %ul
    %li
      = link_to "https://www.facebook.com/codeforchiba", target: "_blank" do
        %i.fa.fa-facebook-square
    %li
      = link_to "https://plus.google.com/105113702372794752105", target: "_blank", rel: "publisher" do
        %i.fa.fa-google-plus-square
    %li
      = link_to "https://twitter.com/code4chiba", target: "_blank" do
        %i.fa.fa-twitter-square
    %li
      = link_to "https://github.com/codeforchiba", target: "_blank" do
        %i.fa.fa-github-square

    %li
      = link_to "https://medium.com/@code4chiba", target: "_blank" do
        %span.fa-stack.medium
          %i.fa.fa-square.fa-stack-2x
          %i.fa.fa-medium.fa-stack-1x.fa-inverse