%footer
  %ul#footer-menu
    %li
      = link_to "https://codeforchiba.typeform.com/to/qzQYxn", class: "typeform-share link", target: "_blank", data: {mode: "1"} do
        問い合わせ
  %p
    &copy; 2017 NPO法人 Code for Chiba

  %ul#footer-service
    %li
      = link_to "https://www.facebook.com/codeforchiba", target: "_blank" do
        %i.fa.fa-facebook-square
    %li
      = link_to "https://plus.google.com/105113702372794752105", target: "_blank", rel: "publisher" do
        %i.fa.fa-google-plus-square
    %li
      = link_to "https://twitter.com/code4chiba", target: "_blank" do
        %i.fa.fa-twitter-square
    %li
      = link_to "https://github.com/codeforchiba", target: "_blank" do
        %i.fa.fa-github-square

    %li
      = link_to "https://medium.com/the-code-for-chiba-network", target: "_blank" do
        %span.fa-stack.medium
          %i.fa.fa-square.fa-stack-2x
          %i.fa.fa-medium.fa-stack-1x.fa-inverse
