%header
  #header-main
    = link_to "index.html" do
      %h1
        Code for Chiba

    %ul
      %li
        %p
          = link_to "about.html" do
            About
      %li
        %p
          = link_to "membership.html" do
            Membership
      %li
        %p
          = link_to "apps.html" do
            Apps
      %li
        %p
          = link_to "catalog.html" do
            Data Catalog
