!!!

%html{prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    /[if IE]
      %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}

    %title
      - if current_page.data.title
        #{current_page.data.title} - #{data.site_info.title}
      - else
        = data.site_info.title

    %meta{name: "description", content: current_page.data.description || data.site_info.description}
    = partial 'components/ogp'

    = javascript_include_tag  "bundle"
    = stylesheet_link_tag "style"

  %body{class: page_classes}
    = partial 'components/header'
    = yield
    = partial 'components/footer'
    = partial 'components/typeform'
    = google_analytics_tag
