---
title: "Civic Apps"
description: "市民のためのアプリを紹介します。"
---

#apps
  %section#app-cover
    .cover
      %h1
        Civic Apps

    .contents
      %p
        市民のためのアプリ、いろいろあります。是非、使ってみてください！

  %section#app-list
    %ul
      %li
        %p
          市税の使いみちポータルサイト
        %p.links
          = link_to "http://use4publicfee.city.chiba.jp/", target: "_blank" do
            %i.fa.fa-external-link
            http://use4publicfee.city.chiba.jp/

      %li
        %p
          Where Does My Money Go? 税金はどこへ行った？
        %p.links
          = link_to "http://chibacity.spending.jp/", target: "_blank" do
            %i.fa.fa-external-link
            http://chibacity.spending.jp/

      %li
        %p
          ちばレポ
        %p.links
          = link_to "http://chibarepo.force.com/", target: "_blank" do
            %i.fa.fa-external-link
            http://chibarepo.force.com/

      %li
        %p
          ちば My Style Diary
        %p.links
          = link_to "http://mystyle-diary.jp/apps/", target: "_blank" do
            %i.fa.fa-external-link
            http://mystyle-diary.jp/apps/

      %li
        %p
          5374.jp
        %ul.links
          %li
            %p
              = link_to "http://chiba-tyuuouku.5374.jp/", target: "_blank" do
                %i.fa.fa-external-link
                http://chiba-tyuuouku.5374.jp/
          %li
            %p
              = link_to "http://chiba-hanamigawaku.5374.jp/", target: "_blank" do
                %i.fa.fa-external-link
                http://chiba-hanamigawaku.5374.jp/
          %li
            %p
              = link_to "http://chiba-inageku.5374.jp/", target: "_blank" do
                %i.fa.fa-external-link
                http://chiba-inageku.5374.jp/
          %li
            %p
              = link_to "http://chiba-wakabaku.5374.jp/", target: "_blank" do
                %i.fa.fa-external-link
                http://chiba-wakabaku.5374.jp/
          %li
            %p
              = link_to "http://chiba-midoriku.5374.jp/", target: "_blank" do
                %i.fa.fa-external-link
                http://chiba-midoriku.5374.jp/
          %li
            %p
              = link_to "http://chiba-mihamaku.5374.jp/", target: "_blank" do
                %i.fa.fa-external-link
                http://chiba-mihamaku.5374.jp/

      %li
        %p
          千葉市お祭りデータセンター
        %p.links
          = link_to "http://festival.code4chiba.org/", target: "_blank" do
            %i.fa.fa-external-link
            http://festival.code4chiba.org/

      %li
        %p
          ちば保育園マップ
        %p.links
          = link_to "http://papamama.code4chiba.org/", target: "_blank" do
            %i.fa.fa-external-link
            http://papamama.code4chiba.org/
