#index
  %section#index-cover
    .cover
      = link_to "https://github.com/codeforchiba/code4chiba.org" do
        = image_tag "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt: "Fork me on GitHub", data: { canonical: { src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" }}
      %h1
        No future without our action
    .contents
      .wrapper
        .brief
          %h2
            行動しよう！
          %p
            オープンデータを積極的に推進する千葉市。データは、公開しているだけでは何も起きません。データを活用し、新たな価値を創造するのは市民です。
          %p
            できることはたくさんあります。まずは、動き出しましょう！
          .buttons
            = link_to "#index-join", class: "button green" do
              Join!

        .news
          %h2
            更新情報

          %ul
            %li
              %p.date
                2016年3月22日
              %p.description
                = link_to "https://medium.com/p/open-311-%E3%82%92%E7%9F%A5%E3%82%8A-%E3%81%A1%E3%81%B0%E3%83%AC%E3%83%9D%E3%82%92%E8%80%83%E3%81%88%E3%82%8B-c7732f022047", target: "_blank" do
                  [Blog] Open 311 を知り、ちばレポを考える
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年1月11日
              %p.description
                = link_to "https://medium.com/p/mashup-awards-11-%E3%81%AE-1%E3%83%B6%E6%9C%88-4f6f65793aad", target: "_blank" do
                  [Blog] Mashup Awards 11 の 1ヶ月
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年1月9日
              %p.description
                = link_to "https://medium.com/p/%E7%A8%B2%E6%AF%9B%E6%B5%B7%E6%B5%9C%E5%85%AC%E5%9C%92%E3%81%A8%E9%AB%98%E6%B5%9C%E5%9C%B0%E5%8C%BA-%E8%BF%91%E3%81%8F%E3%81%A6%E7%95%B0%E3%81%AA%E3%82%8B%E7%A9%BA%E9%96%93-85930c687df0", target: "_blank" do
                  [Blog] 稲毛海浜公園と高浜地区、近くて異なる空間
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年12月16日
              %p.description
                = link_to "https://medium.com/p/code-for-chiba-%E3%81%AE-2015%E5%B9%B4-a27d39a86eb4", target: "_blank" do
                  [Blog] Code for Chiba の 2015年
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年11月18日
              %p.description
                = link_to "https://medium.com/@code4chiba/code-for-japan-summit-%E3%81%AE%E6%8C%AF%E3%82%8A%E8%BF%94%E3%82%8A-3707f92f882a#.ecfdus48g", target: "_blank" do
                  [Blog] Code for Japan Summit の振り返り
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年10月28日
              %p.description
                = link_to "https://medium.com/@code4chiba/parks-by-tye-people-%E5%A7%8B%E5%8B%95-dee68df53f0b#.tvbwjgq8v", target: "_blank" do
                  [Blog] Parks by the people 始動
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年10月8日
              %p.description
                = link_to "http://parksbythepeople.code4chiba.org", target: "_blank" do
                  次期プロジェクト「Parks by the people」をスタートします！
                  %i.fa.fa-external-link

  %section#index-promo
    %ul
      %li
        %p.title
          千葉市お祭りデータセンター
        %p.description
          地域を知る。お祭りから。
        %p.cover
          = link_to "http://festival.code4chiba.org/", target: "_blank" do
            = image_tag "festival-cover.jpg", width: 300
      %li
        %p.title
          ちば保育園マップ
        %p.description
          マップから簡単に。
        %p.cover
          = link_to "http://papamama.code4chiba.org/", target: "_blank" do
            = image_tag "papamama-cover.jpg", width: 300

  %section#index-join
    %h1
      %i.fa.fa-group
      参加しよう！

    %h2
      Code for Chiba を知る

    %p
      Code for Chiba の活動に興味を持ったら参加してみましょう！

    %p
      すぐ始められるのが、Facebook 上での参加。Code for Chiba に興味を持った方達が集まる Facebook Group があります。まずは、こちらに参加してみましょう！

    %p.links
      = link_to "https://www.facebook.com/groups/654182694700156/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba Supporters | Facebook Group

    %p
      活動の様子を見てみたい！ 話をしてみたい！ 方は、毎月開催しているイベントにご参加ください。どなたでも参加することができます。Facebook Page もしくは、Peatix にて開催予定を見ることができます。

    %p.links
      = link_to "https://www.facebook.com/codeforchiba/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba | Facebook Page
      %br/
      = link_to "http://codeforchiba.peatix.com/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba | Peatix

    %h2
      Code for Chiba に参加する

    %p
      Code for Chiba は、NPO法人です。本法人では、正会員と賛助会員を募集しています。

    %p.links
      = link_to "member.html" do
        %i.fa.fa-angle-double-right
        会員制度のご案内

  %section#index-apps
    %h1
      %i.fa.fa-cube
      Apps

    %ul
      %li
        = link_to "http://fukuno.jig.jp/2014/findrefuge-chiba", target: "_blank" do
          %i.fa.fa-external-link
          避難所ナビ(千葉市)

      %li
        = link_to "http://fukuno.jig.jp/2013/popchiba", target: "_blank" do
          %i.fa.fa-external-link
          千葉市の人口動態ビジュアライズ

      %li
        = link_to "http://festival.code4chiba.org/", target: "_blank" do
          %i.fa.fa-external-link
          千葉市お祭りデータセンター

      %li
        = link_to "http://papamama.code4chiba.org/", target: "_blank" do
          %i.fa.fa-external-link
          ちば保育園マップ

  %section#index-data-catalog
    %h1
      %i.fa.fa-database
      Data Catalog

    %p
      千葉市のオープンデータについて、行政・民間問わずまとめていきます。

    %p.links
      = link_to "catalog.html" do
        %i.fa.fa-angle-double-right
        Data Catalog
