#index
  %section#index-cover
    .cover
      %h1
        No future without our action
    .contents
      .wrapper
        .brief
          %h2
            行動しよう！
          %p
            オープンデータを積極的に推進する千葉市。データは、公開しているだけでは何も起きません。データを活用し、新たな価値を創造するのは市民です。
          %p
            できることはたくさんあります。まずは、動き出しましょう！
          .buttons
            = link_to "#index-join", class: "button green" do
              Join!

        .news
          %h2
            更新情報

          %ul
            %li
              %p.date
                2015年2月4日
              %p.description
                = link_to "https://medium.com/@code4chiba/code-for-chiba-kickoff-mtg-dbe3704d7d16", target: "_blank" do
                  [Blog] Code for Chiba Kickoff MTG を開催
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年1月8日
              %p.description
                ウェブサイトをローンチしました。

  %section#index-apps
    %h1
      %i.fa.fa-cube
      Apps

    %ul
      %li
        = link_to "http://fukuno.jig.jp/2014/findrefuge-chiba", target: "_blank" do
          %i.fa.fa-external-link
          避難所ナビ(千葉市)

      %li
        = link_to "http://fukuno.jig.jp/2013/popchiba", target: "_blank" do
          %i.fa.fa-external-link
          千葉市の人口動態ビジュアライズ

  %section#index-data-catalog
    %h1
      %i.fa.fa-database
      Data Catalog

    %p
      千葉市のオープンデータについて、行政・民間問わずまとめていきます。

    %p.links
      = link_to "catalog.html" do
        %i.fa.fa-angle-double-right
        Data Catalog

  %section#index-join
    %h1
      %i.fa.fa-group
      Join a team

    %p
      Code for X と聞くと、ソフトウェアを作ることを思い浮かべるかもしれません。しかし、ソフトウェアを作るまでには様々なプロセスが必要です。そもそもの課題を発見すること、課題を解決する方法を見つけること、必要なデータを集めること、ユーザーにどのように見せるかをデザインすること、そのすべてが必要なアクションです。

    %p
      すべてのプロセスを経て、はじめてソフトウェアは完成します。できることから、参加してみませんか？

    %h2
      参加方法

    %p
      こちらの Facebook グループに、参加してください。あとは、行動するのみです！

    %p
      = link_to "https://www.facebook.com/groups/654182694700156/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba
