#index
  %section#index-cover
    .cover
      = link_to "https://github.com/codeforchiba/code4chiba.org" do
        = image_tag "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt: "Fork me on GitHub", data: { canonical: { src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" }}
      %h1
        No future without our action
    .contents
      .wrapper
        .brief
          %h2
            行動しよう！
          %p
            オープンデータを積極的に推進する千葉市。データは、公開しているだけでは何も起きません。データを活用し、新たな価値を創造するのは市民です。
          %p
            できることはたくさんあります。まずは、動き出しましょう！
          .buttons
            = link_to "#index-join", class: "button green" do
              Join!

        .news
          %h2
            更新情報

          %ul
            %li
              %p.date
                2015年11月18日
              %p.description
                = link_to "https://medium.com/@code4chiba/code-for-japan-summit-%E3%81%AE%E6%8C%AF%E3%82%8A%E8%BF%94%E3%82%8A-3707f92f882a#.ecfdus48g", target: "_blank" do
                  [Blog] Code for Japan Summit の振り返り
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年10月28日
              %p.description
                = link_to "https://medium.com/@code4chiba/parks-by-tye-people-%E5%A7%8B%E5%8B%95-dee68df53f0b#.tvbwjgq8v", target: "_blank" do
                  [Blog] Parks by the people 始動
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年10月8日
              %p.description
                = link_to "http://parksbythepeople.code4chiba.org", target: "_blank" do
                  次期プロジェクト「Parks by the people」をスタートします！
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年9月11日
              %p.description
                = link_to "https://medium.com/@code4chiba/%E5%B8%82%E9%95%B7%E5%AE%A4%E3%81%AB%E3%83%89%E3%83%AD%E3%83%BC%E3%83%B3%E5%87%BA%E7%8F%BE-48b918a5c5b0", target: "_blank" do
                  [Blog] 市長室にドローン出現！
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年8月23日
              %p.description
                = link_to "https://medium.com/@code4chiba/%E5%8D%83%E8%91%89%E5%B8%82-%E8%A6%AA%E5%AD%90%E4%B8%89%E4%BB%A3%E5%A4%8F%E7%A5%AD%E3%82%8A%E3%81%AB%E5%87%BA%E5%BA%97%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F-8af28a4573d5", target: "_blank" do
                  [Blog] 千葉市 親子三代夏祭りに出店しました
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年8月7日
              %p.description
                = link_to "https://medium.com/p/%E3%81%8A%E7%A5%AD%E3%82%8A%E3%83%87%E3%83%BC%E3%82%BF%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC-%E3%83%AA%E3%83%AA%E3%83%BC%E3%82%B9-e8c7c68af467", target: "_blank" do
                  [Blog] お祭りデータセンター、リリース！
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年7月4日
              %p.description
                = link_to "https://medium.com/p/5-6%E6%9C%88%E3%81%AE-code-for-chiba-a9a2346f4152", target: "_blank" do
                  [Blog] 5, 6月の Code for Chiba
                  %i.fa.fa-external-link

  %section#index-apps
    %h1
      %i.fa.fa-cube
      Apps

    %ul
      %li
        = link_to "http://fukuno.jig.jp/2014/findrefuge-chiba", target: "_blank" do
          %i.fa.fa-external-link
          避難所ナビ(千葉市)

      %li
        = link_to "http://fukuno.jig.jp/2013/popchiba", target: "_blank" do
          %i.fa.fa-external-link
          千葉市の人口動態ビジュアライズ

      %li
        = link_to "http://festival.code4chiba.org/", target: "_blank" do
          %i.fa.fa-external-link
          千葉市お祭りデータセンター

  %section#index-data-catalog
    %h1
      %i.fa.fa-database
      Data Catalog

    %p
      千葉市のオープンデータについて、行政・民間問わずまとめていきます。

    %p.links
      = link_to "catalog.html" do
        %i.fa.fa-angle-double-right
        Data Catalog

  %section#index-join
    %h1
      %i.fa.fa-group
      Join a team

    %p
      Code for X と聞くと、ソフトウェアを作ることを思い浮かべるかもしれません。しかし、ソフトウェアを作るまでには様々なプロセスが必要です。そもそもの課題を発見すること、課題を解決する方法を見つけること、必要なデータを集めること、ユーザーにどのように見せるかをデザインすること、そのすべてが必要なアクションです。

    %p
      すべてのプロセスを経て、はじめてソフトウェアは完成します。できることから、参加してみませんか？

    %h2
      参加方法

    %p
      こちらの Facebook グループに、参加してください。あとは、行動するのみです！

    %p
      = link_to "https://www.facebook.com/groups/654182694700156/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba
