#index
  %section#index-cover
    .cover
      = link_to "https://github.com/codeforchiba/code4chiba.org" do
        = image_tag "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt: "Fork me on GitHub", data: { canonical: { src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" }}
      %h1
        No future without our action
    .contents
      .wrapper
        .brief
          %h2
            行動しよう！
          %p
            オープンデータを積極的に推進する千葉市。データは、公開しているだけでは何も起きません。データを活用し、新たな価値を創造するのは市民です。
          %p
            できることはたくさんあります。まずは、動き出しましょう！
          .buttons
            = link_to "#index-join", class: "button green" do
              Join!

        .news
          %h2
            更新情報

          %ul
            %li
              %p.date
                2018年1月4日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/pandas%E3%83%AF%E3%83%BC%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%83%E3%83%97-f29f1ec1ad0a", target: "_blank" do
                  [Blog] Pandasワークショップ
                  %i.fa.fa-external-link
            %li
              %p.date
                2017年11月25日
              %p.description
                = link_to "http://papamama.code4chiba.org/", target: "_blank" do
                  ちば保育園マップで、2018年度入所向けのマップを公開しました
                  %i.fa.fa-external-link
            %li
              %p.date
                2017年11月4日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/govhack%E5%8D%83%E8%91%89%E5%B8%82-2%E6%97%A5%E7%9B%AE-b77022b9917d", target: "_blank" do
                  [Blog] GovHack千葉市(2日目)
                  %i.fa.fa-external-link
            %li
              %p.date
                2017年11月2日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/govhack%E5%8D%83%E8%91%89%E5%B8%82-1%E6%97%A5%E7%9B%AE-bdb2ad0ef75b", target: "_blank" do
                  [Blog] GovHack千葉市(1日目)
                  %i.fa.fa-external-link
            %li
              %p.date
                2017年11月2日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/cpb-%E3%81%AE%E5%8F%8D%E5%BF%9C%E5%88%86%E6%9E%90-%E5%8D%83%E8%91%89%E5%B8%82%E7%B7%A8-2aa7baf08a17", target: "_blank" do
                  [Blog] CPB の反応分析 〜千葉市編〜
                  %i.fa.fa-external-link
            %li
              %p.date
                2017年8月28日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/cfc2017-0826-ecae6575c1b0", target: "_blank" do
                  [Blog] Civic Techってなんだろう？ Code forってなんだろう？ を体感する 1日
                  %i.fa.fa-external-link

  %section#index-baby
    = link_to "https://woman.excite.co.jp/welovebaby/", target: "_blank" do
      .baby-banner

  %section#index-promo
    %ul
      %li
        %p.title
          千葉市お祭りデータセンター
        %p.description
          地域を知る。お祭りから。
        %p.cover
          = link_to "http://festival.code4chiba.org/", target: "_blank" do
            = image_tag "festival.jpg"
      %li
        %p.title
          ちば保育園マップ
        %p.description
          マップから簡単に。
        %p.cover
          = link_to "http://papamama.code4chiba.org/", target: "_blank" do
            = image_tag "papamama.jpg"

  %section#index-join
    %h1
      %i.fa.fa-group
      参加しよう！

    %h2
      Code for Chiba を知る

    %p
      Code for Chiba について、まずはこちらをご覧ください！

    %p.links
      = link_to "about.html" do
        %i.fa.fa-angle-double-right
        About

    %p
      そして、Code for Chiba の活動に興味を持ったら参加してみましょう！

    %p
      すぐ始められるのが、Facebook 上での参加です。Code for Chiba に興味を持った方達が集まる Facebook Group があります。まずは、こちらに参加してみましょう！

    %p.links
      = link_to "https://www.facebook.com/groups/654182694700156/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba Supporters | Facebook Group

    %p
      活動の様子を見てみたい！ 話をしてみたい！ 方は、毎月開催しているイベントにご参加ください。どなたでも参加することができます。Facebook Page もしくは、Peatix にて開催予定を見ることができます。

    %p.links
      = link_to "https://www.facebook.com/codeforchiba/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba | Facebook Page
      %br/
      = link_to "http://codeforchiba.peatix.com/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba | Peatix

    %h2
      Code for Chiba に参加する

    %p
      Code for Chiba の活動にご賛同いただけたら、是非、会員になってください！ 現在、正会員と賛助会員の 2つの会員制度があります。詳しくは、下記のページをご覧ください。

    %p.links
      = link_to "membership.html" do
        %i.fa.fa-angle-double-right
        Membership

  %section#index-apps
    %h1
      %i.fa.fa-cube
      Civic Apps

    %p
      市民のためのアプリ、ご紹介します。

    %p.links
      = link_to "apps.html" do
        %i.fa.fa-angle-double-right
        Civic Apps

  %section#index-data-catalog
    %h1
      %i.fa.fa-database
      Data Catalog

    %p
      千葉市のオープンデータについて、行政・民間問わずまとめていきます。

    %p.links
      = link_to "catalog.html" do
        %i.fa.fa-angle-double-right
        Data Catalog
