#index
  %section#index-cover
    .cover
      = link_to "https://github.com/codeforchiba/code4chiba.org" do
        = image_tag "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt: "Fork me on GitHub", data: { canonical: { src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" }}
      %h1
        No future without our action
    .contents
      .wrapper
        .brief
          %h2
            行動しよう！
          %p
            オープンデータを積極的に推進する千葉市。データは、公開しているだけでは何も起きません。データを活用し、新たな価値を創造するのは市民です。
          %p
            できることはたくさんあります。まずは、動き出しましょう！
          .buttons
            = link_to "#index-join", class: "button green" do
              Join!

        .news
          %h2
            更新情報

          %ul
            %li
              %p.date
                2015年4月1日
              %p.description
                = link_to "https://medium.com/@code4chiba/3%E6%9C%88%E3%81%AE-code-for-chiba-e5d414792f73", target: "_blank" do
                  [Blog] 3月の Code for Chiba
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年2月28日
              %p.description
                = link_to "https://medium.com/@code4chiba/iodd-2015-%E5%8D%83%E8%91%89%E4%BC%9A%E5%A0%B4%E3%81%AE%E4%B8%80%E6%97%A5%E3%81%AB%E5%AF%86%E7%9D%80-%E5%BE%8C%E7%B7%A8-17989828318b", target: "_blank" do
                  [Blog] IODD 2015 千葉会場の一日に密着！(後編)
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年2月24日
              %p.description
                = link_to "https://medium.com/p/iodd-2015-%E5%8D%83%E8%91%89%E4%BC%9A%E5%A0%B4%E3%81%AB%E4%B8%80%E6%97%A5%E5%AF%86%E7%9D%80-%E5%89%8D%E7%B7%A8-6e3405a60549", target: "_blank" do
                  [Blog] IODD 2015 千葉会場の一日に密着！(前編)
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年2月16日
              %p.description
                = link_to "https://medium.com/@code4chiba/iodd-2015-c5ac7e46c465", target: "_blank" do
                  [Blog] IODD 2015 プレイベント「ポイ捨てゴミを可視化する」
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年2月10日
              %p.description
                = link_to "https://medium.com/@code4chiba/international-open-data-day-2015-a5f203c89fc1", target: "_blank" do
                  [Blog] International Open Data Day 2015
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年2月4日
              %p.description
                = link_to "https://medium.com/@code4chiba/code-for-chiba-kickoff-mtg-dbe3704d7d16", target: "_blank" do
                  [Blog] Code for Chiba Kickoff MTG を開催
                  %i.fa.fa-external-link
            %li
              %p.date
                2015年1月8日
              %p.description
                ウェブサイトをローンチしました。

  %section#index-apps
    %h1
      %i.fa.fa-cube
      Apps

    %ul
      %li
        = link_to "http://fukuno.jig.jp/2014/findrefuge-chiba", target: "_blank" do
          %i.fa.fa-external-link
          避難所ナビ(千葉市)

      %li
        = link_to "http://fukuno.jig.jp/2013/popchiba", target: "_blank" do
          %i.fa.fa-external-link
          千葉市の人口動態ビジュアライズ

  %section#index-data-catalog
    %h1
      %i.fa.fa-database
      Data Catalog

    %p
      千葉市のオープンデータについて、行政・民間問わずまとめていきます。

    %p.links
      = link_to "catalog.html" do
        %i.fa.fa-angle-double-right
        Data Catalog

  %section#index-join
    %h1
      %i.fa.fa-group
      Join a team

    %p
      Code for X と聞くと、ソフトウェアを作ることを思い浮かべるかもしれません。しかし、ソフトウェアを作るまでには様々なプロセスが必要です。そもそもの課題を発見すること、課題を解決する方法を見つけること、必要なデータを集めること、ユーザーにどのように見せるかをデザインすること、そのすべてが必要なアクションです。

    %p
      すべてのプロセスを経て、はじめてソフトウェアは完成します。できることから、参加してみませんか？

    %h2
      参加方法

    %p
      こちらの Facebook グループに、参加してください。あとは、行動するのみです！

    %p
      = link_to "https://www.facebook.com/groups/654182694700156/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba
