#index
  %section#index-cover
    .cover
      = link_to "https://github.com/codeforchiba/code4chiba.org" do
        = image_tag "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt: "Fork me on GitHub", data: { canonical: { src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" }}
      %h1
        No future without our action
    .contents
      .wrapper
        .brief
          %h2
            行動しよう！
          %p
            オープンデータを積極的に推進する千葉市。データは、公開しているだけでは何も起きません。データを活用し、新たな価値を創造するのは市民です。
          %p
            できることはたくさんあります。まずは、動き出しましょう！
          .buttons
            = link_to "#index-join", class: "button green" do
              Join!

        .news
          %h2
            更新情報

          %ul
            %li
              %p.date
                2016年12月25日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/sim-%E3%81%A1%E3%81%B02030%E3%82%92%E9%80%9A%E3%81%97%E3%81%A6%E8%A6%8B%E3%81%88%E3%81%A6%E3%81%8F%E3%82%8B%E3%81%93%E3%81%A8-4e7f84de9726", target: "_blank" do
                  [Blog] SIM ちば2030を通して見えてくること
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年12月11日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/cfc2016-1210-e16b4772e31d", target: "_blank" do
                  [Blog] CfC Year End Party 2016 + myThingsハンズオン in 千葉都市モノレール
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年12月4日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/%E6%9C%AA%E6%9D%A5%E6%94%BF%E5%BA%9C%E3%81%8B%E3%82%89%E3%81%A1%E3%81%B0%E3%83%AC%E3%83%9D%E3%82%92%E8%80%83%E3%81%88%E3%82%8B-52afaefcbaeb", target: "_blank" do
                  [Blog] 未来政府からちばレポを考える
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年11月30日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/%E3%81%A1%E3%81%B0%E4%BF%9D%E8%82%B2%E5%9C%92%E3%83%9E%E3%83%83%E3%83%97%E3%82%92%E3%83%AA%E3%83%AA%E3%83%BC%E3%82%B9%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F-c7a1c80b5304", target: "_blank" do
                  [Blog] ちば保育園マップをリリースしました！
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年9月22日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/ctf2016chiba-grareco-dcdae65b3f49", target: "_blank" do
                  [Blog] グラフィックレコーディングのワークショップに参加してきました
                  %i.fa.fa-external-link
            %li
              %p.date
                2016年8月7日
              %p.description
                = link_to "https://medium.com/the-code-for-chiba-network/%E3%82%AF%E3%83%A9%E3%82%A6%E3%83%89%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%B3%E3%82%B0%E3%81%A8%E3%81%97%E3%81%A6%E3%81%AE%E3%81%A1%E3%81%B0%E3%83%AC%E3%83%9D-bc3739cb688e", target: "_blank" do
                  [Blog] クラウドソーシングとしてのちばレポ
                  %i.fa.fa-external-link

  %section#index-baby
    = link_to "https://woman.excite.co.jp/welovebaby/", target: "_blank" do
      .baby-banner

  %section#index-promo
    %ul
      %li
        %p.title
          千葉市お祭りデータセンター
        %p.description
          地域を知る。お祭りから。
        %p.cover
          = link_to "http://festival.code4chiba.org/", target: "_blank" do
            = image_tag "festival.jpg"
      %li
        %p.title
          ちば保育園マップ
        %p.description
          マップから簡単に。
        %p.cover
          = link_to "http://papamama.code4chiba.org/", target: "_blank" do
            = image_tag "papamama.jpg"

  %section#index-join
    %h1
      %i.fa.fa-group
      参加しよう！

    %h2
      Code for Chiba を知る

    %p
      Code for Chiba について、まずはこちらをご覧ください！

    %p.links
      = link_to "about.html" do
        %i.fa.fa-angle-double-right
        About

    %p
      そして、Code for Chiba の活動に興味を持ったら参加してみましょう！

    %p
      すぐ始められるのが、Facebook 上での参加です。Code for Chiba に興味を持った方達が集まる Facebook Group があります。まずは、こちらに参加してみましょう！

    %p.links
      = link_to "https://www.facebook.com/groups/654182694700156/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba Supporters | Facebook Group

    %p
      活動の様子を見てみたい！ 話をしてみたい！ 方は、毎月開催しているイベントにご参加ください。どなたでも参加することができます。Facebook Page もしくは、Peatix にて開催予定を見ることができます。

    %p.links
      = link_to "https://www.facebook.com/codeforchiba/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba | Facebook Page
      %br/
      = link_to "http://codeforchiba.peatix.com/", target: "_blank" do
        %i.fa.fa-external-link
        Code for Chiba | Peatix

    %h2
      Code for Chiba に参加する

    %p
      Code for Chiba の活動にご賛同いただけたら、是非、会員になってください！ 現在、正会員と賛助会員の 2つの会員制度があります。詳しくは、下記のページをご覧ください。

    %p.links
      = link_to "membership.html" do
        %i.fa.fa-angle-double-right
        Membership

  %section#index-apps
    %h1
      %i.fa.fa-cube
      Civic Apps

    %p
      市民のためのアプリ、ご紹介します。

    %p.links
      = link_to "apps.html" do
        %i.fa.fa-angle-double-right
        Civic Apps

  %section#index-data-catalog
    %h1
      %i.fa.fa-database
      Data Catalog

    %p
      千葉市のオープンデータについて、行政・民間問わずまとめていきます。

    %p.links
      = link_to "catalog.html" do
        %i.fa.fa-angle-double-right
        Data Catalog
